{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Merci pour votre inscription !</h1>

     <p>
        Pensez à vérifier vos mails <br>
        Veuillez cliquer sur le lien que nous vous avons envoyez
        par email, afin de confirmer votre adresse.
     </p>

{% endblock %}