{% extends "base.html.twig" %}

{% block title %}
   A propos de moi
{% endblock %}

{% block body %}
   <h2>A propos de moi</h2>
   <div class="mt-5">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque mollitia! Porro veritatis hic blanditiis ad dolorum voluptates a ducimus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque mollitia! Porro veritatis hic blanditiis ad dolorum voluptates a ducimus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque mollitia! Porro veritatis hic blanditiis ad dolorum voluptates a ducimus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque mollitia! Porro veritatis hic blanditiis ad dolorum voluptates a ducimus?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, atque mollitia! Porro veritatis hic blanditiis ad dolorum voluptates a ducimus?</p>
   </div>
{% endblock %}